{
  "openapi": "3.0.1",
  "info": {
    "title": "User Service API",
    "description": "Service for user management.",
    "version": "0.0.1640871581"
  },
  "servers": [
    {
      "url": "https://dev2-api.gsky-mecp.projects.epam.com/user-service"
    },
    {
      "url": "http://localhost:8080"
    }
  ],
  "paths": {
    "/api/v1/users": {
      "post": {
        "tags": [
          "user-controller"
        ],
        "summary": "Create user",
        "operationId": "create",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UserDto"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Created"
          },
          "409": {
            "description": "User duplication by username or email"
          },
          "400": {
            "description": "Constraint violation"
          },
          "403": {
            "description": "Access denied"
          }
        },
        "security": [
          {
            "default-auth-scheme": []
          }
        ]
      }
    },
    "/api/status/live": {
      "get": {
        "tags": [
          "status-controller"
        ],
        "operationId": "live",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "UserDto": {
        "required": [
          "assignedRoles",
          "email",
          "firstName",
          "lastName",
          "phone",
          "username"
        ],
        "type": "object",
        "properties": {
          "username": {
            "type": "string"
          },
          "firstName": {
            "type": "string"
          },
          "lastName": {
            "type": "string"
          },
          "phone": {
            "maxLength": 10,
            "minLength": 10,
            "pattern": "^[0-9]+$",
            "type": "string"
          },
          "email": {
            "type": "string"
          },
          "merchantId": {
            "type": "string",
            "format": "uuid"
          },
          "orgStructure": {
            "uniqueItems": true,
            "type": "array",
            "items": {
              "type": "string",
              "format": "uuid"
            }
          },
          "assignedRoles": {
            "uniqueItems": true,
            "type": "array",
            "items": {
              "type": "string",
              "enum": [
                "GS_ADMIN",
                "MERCHANT_SUPER_ADMIN",
                "MERCHANT_ADMIN",
                "SALES_REPRESENTATIVE"
              ]
            }
          }
        }
      }
    },
    "securitySchemes": {
      "default-auth-scheme": {
        "type": "http",
        "in": "header",
        "scheme": "bearer"
      }
    }
  }
}
